/* line 17, ../../../../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*## VARIABLES ##*/
/*## MIXINS ##*/
/* line 7, ../scss/style.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 12, ../scss/style.scss */
body {
  width: 75%;
  margin: 3% auto;
  font-family: helvetica,arial,"sans-serif";
}
/* line 21, ../scss/style.scss */
body .contenu #menu {
  display: block;
  float: left;
  margin: 8% 0 0 0;
}
/* line 26, ../scss/style.scss */
body .contenu #menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  overflow: auto;
}
/* line 33, ../scss/style.scss */
body .contenu #menu li {
  display: block;
  color: #000;
  padding: 8px 0 8px 16px;
  text-decoration: none;
}
/* line 39, ../scss/style.scss */
body .contenu #menu li:hover {
  background-color: #555;
  color: white;
}
/* line 48, ../scss/style.scss */
body .contenu .content {
  border: 1px solid black;
  min-height: 90vh;
  float: left;
  width: 85%;
  /*Formulaire de recherche*/
  /*Partie ajout*/
  /*Listing des t-shirt*/
}
/* line 55, ../scss/style.scss */
body .contenu .content #champHaut {
  height: 3em;
  border-bottom: 1px solid black;
  margin: 4% 1%;
}
/* line 61, ../scss/style.scss */
body .contenu .content #champHaut .moteur {
  text-align: center;
}
/* line 65, ../scss/style.scss */
body .contenu .content #champHaut #champTexte {
  border-radius: 20px;
}
/* line 71, ../scss/style.scss */
body .contenu .content #champbas {
  position: relative;
  display: flex;
  margin: 1em;
}
/* line 76, ../scss/style.scss */
body .contenu .content #champbas #boutChampRech {
  position: absolute;
  right: 0;
}
/* line 81, ../scss/style.scss */
body .contenu .content #champbas p {
  margin: 0 0.5em;
}
/* line 87, ../scss/style.scss */
body .contenu .content #divAjout #buttonAjout {
  display: block;
  text-align: center;
  padding: 0.5em;
  border-bottom: 1px solid black;
  background: #c8c8c8;
}
/* line 95, ../scss/style.scss */
body .contenu .content #divAjout #buttonAjout:hover {
  cursor: pointer;
}
/* line 97, ../scss/style.scss */
body .contenu .content #divAjout #voletAjout {
  padding: 0.5em;
  position: relative;
  padding: 0.5em;
}
/* line 105, ../scss/style.scss */
body .contenu .content #divAjout #voletAjout form {
  display: flex;
}
/* line 108, ../scss/style.scss */
body .contenu .content #divAjout #voletAjout form section {
  width: 30%;
  padding: 0.5em;
}
/* line 113, ../scss/style.scss */
body .contenu .content #divAjout #voletAjout form #imgPrew img {
  width: 50%;
}
/* line 119, ../scss/style.scss */
body .contenu .content #divAjout #voletAjout form #infosAjout p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* line 124, ../scss/style.scss */
body .contenu .content #divAjout #voletAjout form #infosAjout #prodDesc {
  width: 100%;
  height: 10rem;
}
/* line 131, ../scss/style.scss */
body .contenu .content #divAjout #voletAjout form #taillesAjout p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* line 137, ../scss/style.scss */
body .contenu .content #divAjout #voletAjout form .boutonsFormAjout {
  position: absolute;
  bottom: 0;
  right: 25%;
}
/* line 145, ../scss/style.scss */
body .contenu .content #divAjout #imageAjout {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: 1px solid black;
  background: #f0f0f0;
}
/* line 157, ../scss/style.scss */
body .contenu .content ul#recherche {
  background: #E9E9ED;
}
/* line 160, ../scss/style.scss */
body .contenu .content ul#recherche li {
  display: block;
  padding: 0.7em;
  margin: 0;
  border-bottom: 1px solid black;
  /*formulaire modifier*/
}
/* line 166, ../scss/style.scss */
body .contenu .content ul#recherche li ul.tshirt {
  float: right;
  width: 10;
}
/* line 170, ../scss/style.scss */
body .contenu .content ul#recherche li ul.tshirt li {
  margin: 0 0 3% 0;
  padding: 0 9px 0 0;
  display: inline-block;
  border: none;
}
/* line 177, ../scss/style.scss */
body .contenu .content ul#recherche li ul.tshirt li.modif:hover {
  cursor: pointer;
}
/* line 180, ../scss/style.scss */
body .contenu .content ul#recherche li ul.tshirt li.voir:hover {
  cursor: pointer;
}
/* line 183, ../scss/style.scss */
body .contenu .content ul#recherche li ul.tshirt li.supprimer:hover {
  cursor: pointer;
}
/* line 189, ../scss/style.scss */
body .contenu .content ul#recherche li form {
  padding: 0.5em;
  position: relative;
  padding: 0.5em;
  display: flex;
}
/* line 195, ../scss/style.scss */
body .contenu .content ul#recherche li form section {
  width: 30%;
  padding: 0.5em;
}
/* line 200, ../scss/style.scss */
body .contenu .content ul#recherche li form input {
  padding: 5px;
  border: 2px solid grey;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 207, ../scss/style.scss */
body .contenu .content ul#recherche li form input:focus {
  border-color: #5cb85c;
}
/* line 211, ../scss/style.scss */
body .contenu .content ul#recherche li form input[type=button] {
  padding: 5px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 220, ../scss/style.scss */
body .contenu .content ul#recherche li form label {
  display: inline-block;
  width: 150px;
}
/* line 225, ../scss/style.scss */
body .contenu .content ul#recherche li form textarea {
  overflow: hidden;
  border: 2px solid grey;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 60px;
  width: 230px;
}
/* line 234, ../scss/style.scss */
body .contenu .content ul#recherche li form span:hover {
  cursor: pointer;
}
/* line 238, ../scss/style.scss */
body .contenu .content ul#recherche li form #imglist {
  width: 100%;
}
/* line 243, ../scss/style.scss */
body .contenu .content ul#recherche li form #infosAjout select {
  padding: 3px;
  margin: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 0 #cccccc, 0 -1px white inset;
  -moz-box-shadow: 0 3px 0 #cccccc, 0 -1px white inset;
  box-shadow: 0 3px 0 #cccccc, 0 -1px white inset;
  background: #f8f8f8;
  color: #888;
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
/* line 263, ../scss/style.scss */
body .contenu .content ul#recherche li form #infosAjout p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* line 268, ../scss/style.scss */
body .contenu .content ul#recherche li form #infosAjout #prodDesc {
  width: 100%;
  height: 10rem;
}
/* line 276, ../scss/style.scss */
body .contenu .content ul#recherche li form #taillesAjout p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* line 282, ../scss/style.scss */
body .contenu .content ul#recherche li form #ajoutTailleModif {
  margin: 3% 0 0 0;
}
/* line 287, ../scss/style.scss */
body .contenu .content ul#recherche li form .boutonsFormModifier {
  position: absolute;
  bottom: 1%;
  right: 5%;
}
