/* line 17, ../../../../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*## VARIABLES ##*/
/*## MIXINS ##*/
/* line 7, ../scss/style.scss.REMOTE.51748.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 12, ../scss/style.scss.REMOTE.51748.scss */
body {
  width: 75%;
  margin: 0 auto;
  font-family: helvetica,arial,"sans-serif";
}
/* line 17, ../scss/style.scss.REMOTE.51748.scss */
body .contenu {
  border: 1px solid black;
  margin: 1em;
  padding: 1em;
  min-height: 90vh;
}
/* line 23, ../scss/style.scss.REMOTE.51748.scss */
body .contenu .content {
  position: relative;
  /*Formulaire de recherche*/
  /*Partie ajout*/
  /*Listing des t-shirt*/
}
/* line 26, ../scss/style.scss.REMOTE.51748.scss */
body .contenu .content h1 {
  font-size: 1.5em;
  padding-bottom: 1em;
  text-align: center;
}
/* line 33, ../scss/style.scss.REMOTE.51748.scss */
body .contenu .content #champHaut {
  border-bottom: 1px solid black;
}
/* line 36, ../scss/style.scss.REMOTE.51748.scss */
body .contenu .content #champHaut #champTexte {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 20px;
}
/* line 44, ../scss/style.scss.REMOTE.51748.scss */
body .contenu .content #champbas {
  position: relative;
  display: flex;
  margin: 1em;
}
/* line 49, ../scss/style.scss.REMOTE.51748.scss */
body .contenu .content #champbas #boutChampRech {
  position: absolute;
  right: 0;
}
/* line 54, ../scss/style.scss.REMOTE.51748.scss */
body .contenu .content #champbas p {
  margin: 0 0.5em;
}
/* line 60, ../scss/style.scss.REMOTE.51748.scss */
body .contenu .content #divAjout #buttonAjout {
  display: block;
  text-align: center;
  padding: 0.5em;
  border-bottom: 1px solid black;
  background: #c8c8c8;
}
/* line 68, ../scss/style.scss.REMOTE.51748.scss */
body .contenu .content #divAjout #buttonAjout:hover {
  cursor: pointer;
}
/* line 70, ../scss/style.scss.REMOTE.51748.scss */
body .contenu .content #divAjout #voletAjout {
  position: relative;
  padding: 0.5em;
}
/* line 76, ../scss/style.scss.REMOTE.51748.scss */
body .contenu .content #divAjout #voletAjout form {
  display: flex;
}
/* line 79, ../scss/style.scss.REMOTE.51748.scss */
body .contenu .content #divAjout #voletAjout form section {
  width: 30%;
  padding: 0.5em;
}
/* line 84, ../scss/style.scss.REMOTE.51748.scss */
body .contenu .content #divAjout #voletAjout form #imgPrew img {
  width: 50%;
}
/* line 90, ../scss/style.scss.REMOTE.51748.scss */
body .contenu .content #divAjout #voletAjout form #infosAjout p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* line 95, ../scss/style.scss.REMOTE.51748.scss */
body .contenu .content #divAjout #voletAjout form #infosAjout #prodDesc {
  width: 100%;
  height: 10rem;
}
/* line 102, ../scss/style.scss.REMOTE.51748.scss */
body .contenu .content #divAjout #voletAjout form #taillesAjout p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* line 108, ../scss/style.scss.REMOTE.51748.scss */
body .contenu .content #divAjout #voletAjout form .boutonsFormAjout {
  position: absolute;
  bottom: 0;
  right: 25%;
}
/* line 116, ../scss/style.scss.REMOTE.51748.scss */
body .contenu .content #divAjout #imageAjout {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: 1px solid black;
  background: #f0f0f0;
}
/* line 127, ../scss/style.scss.REMOTE.51748.scss */
body .contenu .content ul#recherche {
  background: #c8c8d2;
}
/* line 130, ../scss/style.scss.REMOTE.51748.scss */
body .contenu .content ul#recherche li {
  display: block;
  padding: 0.7em;
  border-bottom: 1px solid black;
}
/* line 135, ../scss/style.scss.REMOTE.51748.scss */
body .contenu .content ul#recherche li ul {
  width: 30%;
  float: right;
}
/* line 138, ../scss/style.scss.REMOTE.51748.scss */
body .contenu .content ul#recherche li ul .modif {
  background-image: url("../../icons/pencil.png");
  background-size: contain;
  background-position: top 50% left 50%;
  background-repeat: no-repeat;
  float: right;
  width: 10%;
}
/* line 147, ../scss/style.scss.REMOTE.51748.scss */
body .contenu .content ul#recherche li ul .voir {
  background-image: url("../../icons/plus-button.png");
  background-size: contain;
  background-position: top 50% left 50%;
  background-repeat: no-repeat;
  float: right;
  width: 10%;
}
/* line 156, ../scss/style.scss.REMOTE.51748.scss */
body .contenu .content ul#recherche li ul .supprimer {
  background-image: url("../../icons/rubbish-bin.png");
  background-size: contain;
  background-position: top 50% left 50%;
  background-repeat: no-repeat;
  float: right;
  width: 10%;
}
