@import "compass";
@import "compass/reset";

/*## VARIABLES ##*/

/*## MIXINS ##*/
a{ 
	text-decoration: none; 
	color: black;
}

body{
	width: 75%;
	margin: 0 auto;
	font-family: helvetica,arial,"sans-serif";

	.contenu{
		border: 1px solid black;
		margin: 1em;
		padding: 1em;
		height: 90vh;
		
		.content{
			position: relative;
			
			h1{ 
				font-size: 1.5em;
				padding-bottom: 1em;
				text-align: center; 
			}

			#champHaut{	
				border-bottom: 1px solid black;

				#champTexte{
					position: absolute;
					top:0;
					right: 0;
					border-radius: 20px; 
				}
			}

			#champbas{
				position: relative;
				display: flex;
				margin: 1em;

				#boutChampRech{
					position: absolute;
					right: 0;
				}

				p{ margin: 0 0.5em; }
			}

			#divAjout{
				display: block;
				text-align:center;
				padding: 0.5em;
				border-bottom: 1px solid black;
				background: rgb(200,200,200);
			}

			#divAjout:hover{ cursor: pointer; }
		}
	}
}